#! /bin/bash
echo "gen calico-etcd-secrets "
kubectl create secret generic  calico-etcd-secrets --from-file=etcd-ca={{ calico_cert_dir }}/ca_cert.crt --from-file=etcd-key={{ calico_cert_dir }}/key.pem --from-file=etcd-cert={{ calico_cert_dir }}/cert.crt -n kube-system