
[Unit]
Description=Kubernetes Kube-Proxy Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target
[Service]
User=root
EnvironmentFile=-{{ kube_config_dir }}/kube-proxy.env
ExecStart={{ bin_dir }}/kube-proxy \
	    $KUBE_LOG_LEVEL \
	    $KUBE_PROXY_ARGS
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target