---
- name: Cfssl | Download Cfssl
  include_tasks: "../../../download/tasks/download_file.yml"
  vars:
    download: "{{ download_defaults | combine(item.value)}}"
  loop: "{{ cfssl_down|dict2items }}"
  
- name: Cfssl  | Copy Cfssl  binary from download dir
  copy:
    src: "{{ local_release_dir }}/{{ item }}"
    dest: "{{ bin_dir }}/{{ item }}"
    mode: "0755"
  loop: "{{ cfssl_bin }}"
  ignore_errors: True
  changed_when: false
  tags:
    - cfssl
    - upgrade  