###
# kubernetes scheduler config

# default config should be adequate

# Add your own!
KUBE_SCHEDULER_ARGS="   --config={{ kube_config_dir }}/kube-scheduler.yaml \
                        --authentication-kubeconfig={{ kube_config_dir }}/kube-scheduler.kubeconfig \
                        --authorization-kubeconfig={{ kube_config_dir }}/kube-scheduler.kubeconfig \
                        --client-ca-file={{ kube_cert_dir }}/ca.pem \
                        --tls-cert-file={{ kube_cert_dir }}/kube-scheduler.pem \
                        --tls-private-key-file={{ kube_cert_dir }}/kube-scheduler-key.pem \
                        --v=2"