[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
User=root
EnvironmentFile=-{{ kube_config_dir }}/kube-controller-manager.env
ExecStart={{ bin_dir }}/kube-controller-manager \
	      $KUBE_CONTROLLER_MANAGER_ARGS
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target