###
# The following values are used to configure the kubernetes controller-manager

# defaults from config and apiserver should be adequate

# Add your own!
KUBE_CONTROLLER_MANAGER_ARGS=" --authentication-kubeconfig={{ kube_config_dir }}/kube-controller-manager.kubeconfig \
                                --authorization-kubeconfig={{ kube_config_dir }}/kube-controller-manager.kubeconfig \
                                --cluster-signing-cert-file={{ kube_cert_dir }}/ca.pem \
                                --cluster-signing-key-file=/{{ kube_cert_dir }}/ca-key.pem \
                                --client-ca-file={{ kube_cert_dir }}/ca.pem \
                                --controllers=*,bootstrapsigner,tokencleaner \
                                --deployment-controller-sync-period=10s \
                                --enable-garbage-collector=true \
                                --kubeconfig={{ kube_config_dir }}/kube-controller-manager.kubeconfig \
                                --leader-elect=true \
                                --node-monitor-grace-period=20s \
                                --node-monitor-period=5s \
                                --pod-eviction-timeout=2m0s \
                                --requestheader-client-ca-file={{ kube_cert_dir }}/ca.pem \
                                --terminated-pod-gc-threshold=50 \
                                --tls-cert-file={{ kube_cert_dir }}/kube-controller-manager.pem \
                                --tls-private-key-file={{ kube_cert_dir }}/kube-controller-manager-key.pem \
                                --root-ca-file={{ kube_cert_dir }}/ca.pem \
                                --service-cluster-ip-range={{ kube_service_addresses }} \
                                --service-account-private-key-file={{ kube_cert_dir }}/ca-key.pem \
                                --use-service-account-credentials=true \
                                --v=2"